  <div class="jumbotron">
    <h1 class="title">世界那么大<br>为何我们相遇</h1>
    <p class="slogan">
      <br>这是一个去中心化的社群连接器
    <br>
    在这，你能够像在招聘网站那样，提出社群需求，或加入他人社群
    <br>
     点击一下，马上发现
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">开启社群</a></p>
  </div>

  
