  <div class="jumbotron">
    <h1 class="title">世界那么大<br>为何我们相遇</h1>
    <p class="slogan">
      <br>这是一个去中心化的社群连接器
    <br>
    或许在这，你能找到你的战友
    <br>
     点击一下，马上发现
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">开启社群</a></p>
  </div>

  <section id="company">
          <div style="text-align: center;margin-top: 100px;">
            <h2>加入新生大学 快一年了 </h2>
            <h3>得到什么 错过什么</h3>
            <h3>还记得当时看到《新生——七年就是一辈子》的感受吗？</h3>
          </div>
          <div style="text-align: center;margin-top: 50px;">
            <h2>海量的内容</h2>
            <h3>无暇顾及 还是一次次失足掉入《人生三大坑》</h3>
            <h3>这一次，我想组个3-5人的小社群，一起再次出发成长！</h3>
          </div>
          <div class="container" style="margin-top: -30px;">
  	         <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="material-button-anim">
                        <div style="text-align: center; margin-bottom:20px">
                          <ul class="list-inline" id="options">


                            </div>
                          </div>
                        </div>
  	                   </div>
                     </div>

                 </section>
